///* ========================================================================
//   BOX CONTAINER
//   ======================================================================== */

.box-container {
  @extend .col-1-5-xl;

  > a { text-decoration: none; }

  > a > .box {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    display: inline-block;

    &:hover {
      transition: .5s;
      box-shadow: 0 0.3em 0.3em -0.2em $light;
      transform: translateY(-0.90em);
    }

  }

}
