///* ========================================================================
//   LOADING
//   ======================================================================== */

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

  > .text {
    font-weight: bold;
    @include font-size(18);
  }

  > .image {
    width: 150px;
    height: auto;
  }

}
