///* ========================================================================
//   LOGO
//   ======================================================================== */

.logo {
  @extend .col-1-2-xl;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-family: 'Nunito';
  margin: 5px 0;
  @include font-size(30);
}

@include breakpoint(xl) {
  .logo { text-align: left; }
}
