///* ========================================================================
//   MOVIE DETAIL
//   ======================================================================== */

#movie-detail {
  @extend .row;
  display: inline-block;
  padding: 0 15px;
}

.details {
  @extend .col-1-2-xl;

  > a > .back {
    margin: 50px 0;
    cursor: pointer;
    opacity: .8;

    &:hover {
      opacity: 1;
      transition: 0.3s;
    }
  }

  > h1 {
    margin-bottom: 0;
    font-weight: bold;
  }

  > .name {
    margin: 0;
    @include font-size(36);
  }

  > .subtitle {
    color: $light;
    @include font-size(12);
  }

  > .sinopse { margin: 30px 0 20px 0; }
  > p { margin: 0; }

}

.cover {
  @extend .col-1-2-xl;
  text-align: right;

  > .image { margin-top: 20px; }

  @include breakpoint(xl) {
    > .image {
      width: auto;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
    }
  }

}
