///* ========================================================================
//   MOVIES CONTAINER
//   ======================================================================== */

#movies-container {
  @extend .row;
  min-height: 350px;
  margin-top: 50px;
  text-align: center;
  position: relative;
}
