///* ========================================================================
//   NOT FOUND
//   ======================================================================== */

.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

  > .error { @extend .col-1-2-xl; }

  > .error > .title {
    font-weight: bold;
    margin: 80px 0 0 0;
    @include font-size(150);
    @include line-height(150);
   }

   > .error > .subtitle {
     @include font-size(30);
     @include line-height(30);
  }

   > .image { @extend .col-1-2-xl; }

}
