///* ========================================================================
//   SEARCH FIELD
//   ======================================================================== */

.search-field {
  @extend .col-1-2-xl;
  display: block;
  justify-content: center;

  > .search {
    width: 100%;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    background: $dark url(../images/search.svg) no-repeat scroll 7px 7px;
    padding-left: 40px;
  }

  > .controls {
    margin-top: 10px;
    text-align: center;
  }

  > .controls > .button {
    padding: 5px;
    background: none;
    border: none;
    opacity: .8;

    &:hover {
      opacity: 1;
      transition: 0.3s;
    }

  }

  > .controls > .divider {
    display: inline-block;
    width: 1px;
    background-color: $white;
    margin: 0 10px;
    height: 2em;
  }
}

@include breakpoint(xl) {
  .search-field {
    display: flex;
    justify-content: flex-end;

    > .search {
      width: 250px;
      margin: 0 10px 0 0;
    }

    > .controls { margin-top: 0; }

  }
}
